<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href=<%= users_path %>>My Collectibles</a>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" href=<%= users_path %>>Home <span class="sr-only">(current)</span></a>
         </li>
         <% if logged_in? %>
         <li class="nav-item">
            <a class="nav-link" href=<%= user_path(current_user)%>>Manage Collectibles</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href=<%= open_case_user_path(current_user)%>>Cases</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href=<%= market_user_path(current_user)%>>Market</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href=<%= add_balance_user_path(current_user)%>>Add Balance</a>
         </li>
         <% end %>
      </ul>
   </div>
   <ul class="navbar-nav mr-auto">
      <% if logged_in? %> 
      <li class="nav-item active">
            <a class="nav-link">Your Balance: <%= @userBal %></a>
      </li>
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <%= current_user.username %>
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href=<%= logout_path %>>Log out</a>
         </div>
      </li>
      <% else %>
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Not logged in
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href=<%= login_path %>>Log in</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href='users/new'>Sign up</a>
         </div>
      </li>
      <% end %> 
   </ul>
</nav>