<!--  This file is app/views/users/index.html.erb -->

<% if current_user %>
  Logged in as <%= current_user.username %>
  <div class="row">
    <%= link_to 'Log Out', logout_path, :class => 'btn btn-primary col-2' %>
    <%= link_to 'My Collectibles', user_path(current_user), :class => 'btn btn-primary col-2' %>
  </div>
<% else %>
  <div class="row">
    <%= link_to 'Sign Up', 'users/new', :class => 'btn btn-primary col-2' %>
    <%= link_to 'Log In', login_path, :class => 'btn btn-primary col-2' %>
</div>
<% end %>

<h2>All Users</h2>

<table class="table table-striped col-md-12" id="users">
  <thead>
    <tr>
      <th>Users</th>
      <th>Collectibles</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to "#{user.username}", user_path(user) %>
        </td>
        <td>
          <%= @countItemsHash[user.id] %>
        </td>
        <td>
          <%= @sumValueHash[user.id] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
