<!--  This file is app/views/users/index.html.erb -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href=<%= users_path %>>My Collectibles</a>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" href=<%= users_path %>>Home <span class="sr-only">(current)</span></a>
         </li>
         <% if logged_in? %>
         <li class="nav-item">
            <a class="nav-link" href=<%= user_path(current_user)%>>Manage Collectibles</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href=<%= open_case_user_path(current_user)%>>Cases</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href=<%= market_user_path(current_user)%>>Market</a>
         </li>
         <% end %>
      </ul>
   </div>
   <ul class="navbar-nav mr-auto">
      <% if logged_in? %> 
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <%= current_user.username %>
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href=<%= logout_path %>>Log out</a>
         </div>
      </li>
      <% else %>
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Not logged in
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href=<%= login_path %>>Log in</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href='users/new'>Sign up</a>
         </div>
      </li>
      <% end %> 
   </ul>
</nav>

<h2>Top Users</h2>

<div class="container">
    <div class="row mt-3">
        <table class="table table-striped col-md-12" id="users">
          <thead>
            <tr>
              <th>Users</th>
              <th>Collectibles</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <%= link_to "#{user.username}", user_path(user) %>
                </td>
                <td>
                  <%= @countItemsHash[user.id] %>
                </td>
                <td>
                  $<%= @sumValueHash[user.id] %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>
