<div class="container-fluid">

  <div class="row justify-content-center">
    <% @products.each do |product| %>
      <div class="col-auto mb-4">
        <div class="card h-60 digiid-border">
          <div class="card-header">
            <p class="card-text"> <%= product.name %>  </p>
          </div>
		    <% if product.rarity == 'SR' %>
			  <img style="filter: blur(<%= product.blurNum/100 %>px)" class="card-img-top %>" src=<%= product.url %>>
		    <% else %>
			  <img class="card-img-top filter-<%= product.rarity %>" src=<%= product.url %>>
		    <% end %>
          <span class="badge <%= product.rarity %>">
              <% case product.rarity
                 when 'C' %>
                  Common
                <% when 'N' %>
                  Normal
                <% when 'R' %>
                  Rare
                <% when 'SR' %>
                  Super Rare
              <% end %>
            </span>

          <div class="card-body">
            <p class="card-text"> $<%= product.sell_price %>  </p>
            <% if product.user_id == @user.id %>
              <%= button_to 'unlist', unlist_path(@user.id, product.asset_id), :class => "button button-close" %>
            <% else %>
              <%= button_to 'buy', buy_path(@user.id, product.user_id, product.asset_id, product.sell_price), :class => "button button-info" %>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div>

</div>