<%= render 'components/navbar' %>

<div class="container">
    <div class="row mt-3">
        <table class="table table-striped col-md-12" id="users">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td>
                  <%= product.name %>
                </td>
                <td>
                  <%= product.sell_price %>
                </td>
                <td>
                  <% if product.user_id ==  @user.id%>
                    <%= button_to 'unlist', unlist_path(@user.id, product.asset_id), :class => "sell_button" %>
                  <% else %>
                    <%= button_to 'buy', buy_path(@user.id, product.user_id, product.asset_id, product.sell_price), :class => "sell_button" %>
                  <% end %> 
                </td>
              </tr>
              <tr>
                <td>
                  <img src=<%= product.url%> width=auto height="250">
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>