<%= render 'components/navbar' %>

<h2>Sign Up</h2>

<%= form_for @user do |u|%>
  <%= u.label :username %>
  <%= u.text_field :username %><br>
  <%= u.label :password %>
  <%= u.password_field :password%><br>
  <%= u.submit "Create Account"%>
<% end %>
