<div class="container-fluid">

  <%= form_for @user do |u| %>
    <div class="row">
      <div class="col-1">
        <%= u.label :username, "Username", :class => "h3" %>
      </div>
      <div class="col-1">
        <%= u.text_field :username %><br>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <%= u.label :password, "Password", :class => "h3" %>
      </div>
      <div class="col-1">
        <%= u.password_field :password %><br>
      </div>
    </div>
    <div class="row mt-1" style="padding-left: 125px">
      <%= u.submit "Create Account", :class => "nav-link info-link auth-link" %>
    </div>
  <% end %>

</div>
