<%= content_tag :div, id: "case_contents", data: {temp: @case_contents} do %>
<% end %>

<%= content_tag :div, id: "added_collectible", data: {temp: @added_collectible} do %>
<% end %>

<div class="container-fluid bottom-padding">
  <div class="col mb-3 digiid-base-dark digiid-border">
    <div class="row mt-3 justify-content-center">

      <ul class="nav nav-pills border-round">
        <% @cases.each do |c| %>
          <li class="nav-item case-item <%= 'active' if c.name == @active_case.name %>">
            <a class="nav-link case-link" href=<%= open_path(@user, c.name) %>>
              <%= c.name %>
            </a>
          </li>
        <% end %>

      </ul>
    </div>

    <div class="row mt-3 justify-content-center">
      <img class="banner-image" src=<%= @active_case.url %>>
    </div>

    <div class="row mt-3 mb-3  button-info-pad">
      <div class="col">
        <ul class="nav nav-pills border-round">
          <li class="nav-item info-item">
            <a class="nav-link info-link" href="#" data-toggle="modal" data-target="#previewModal">
              Info
            </a>
          </li>
        </ul>
      </div>

      <div class="col button-case-pad">
        <h2> Price: $<%= @active_case.value %> </h2>
        <button type="submit" id="button-case" form="case" value="Open Case" class="btn button button-case"> Open Case
        </button>
        <%= form_tag add_path(@user, @active_case.name), :method => "POST", :id => 'case' do %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- CASE OPEN Modal -->
<div class="modal fade" id="caseOpenModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-custom" role="document">
    <div class="modal-content justify-content-center">
      <div class="modal-header digiid-secondary-dark digiid-border-color">
        <h5 class="modal-title"> You got: </h5>
      </div>
      <div class="modal-body digiid-secondary-dark">
        <div class="container-fluid justify-content-center">
          <% unless @added_collectible.nil? %>
            <div id="content-card">
              <div class="card digiid-border justify-content-center" style="max-height: 400px; width: 18rem;">
                <% if @added_collectible.rarity == 'SR' %>
                  <img style="filter: blur(<%= @added_collectible.blurNum/100 %>px)" class="card-img-top %>" id="content-image" src=<%= @added_collectible.url %>>
                <% else %>
                  <img class="card-img-top filter-<%= @added_collectible.rarity %>" id="content-image" src=<%= @added_collectible.url %>>
                <% end %>
                <span id="content-badge" class="badge <%= @added_collectible.rarity %>">
                <% case @added_collectible.rarity
                   when 'C' %>
                Common
                <% when 'N' %>
                  Normal
                <% when 'R' %>
                  Rare
                <% when 'SR' %>
                  Super Rare
              <% end %>
              </span>
                <div class="card-body">
                  <p class="card-text" id="content-text">
                    <%= @added_collectible.name %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer digiid-secondary-dark digiid-border-color">
        <button type="button" class="button-right button-close" data-dismiss="modal">Close</button>
        <button type="submit" id="button-case" form="case" value="Open Case" class="button-right button-ok"> Open
          Another
        </button>
      </div>
    </div>
  </div>
</div>

<!-- CASE PREVIEW Modal -->
<div class="modal fade" id="previewModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header digiid-secondary-dark digiid-border-color">
        <h5 class="modal-title"> <%= @active_case.name %> Case Contents </h5>
      </div>
      <div class="modal-body digiid-secondary-dark">
        <div class="container-fluid">
          <span class="badge C"> Common: 60% </span>
          <div class="row top-buffer">
            <% @case_contents.each do |content| %>
              <% if content.rarity == 'C' %>
                <div class="col-md-auto">
                  <img class='image-C' src=<%= content.url %>>
                </div>
              <% end %>
            <% end %>
          </div>
          <span class="badge N"> Normal: 25% </span>
          <div class="row top-buffer">
            <% @case_contents.each do |content| %>
              <% if content.rarity == 'N' %>
                <div class="col-md-auto">
                  <img class='image-N' src=<%= content.url %>>
                </div>
              <% end %>
            <% end %>
          </div>
          <span class="badge R"> Rare: 10% </span>
          <div class="row top-buffer">
            <% @case_contents.each do |content| %>
              <% if content.rarity == 'R' %>
                <div class="col-md-auto">
                  <img class='image-R' src=<%= content.url %>>
                </div>
              <% end %>
            <% end %>
          </div>
          <span class="badge SR"> Super Rare: 5% </span>
          <div class="row top-buffer">
            <% @case_contents.each do |content| %>
              <% if content.rarity == 'SR' %>
                <div class="col-md-auto">
                  <img class='image-SR' src=<%= content.url %>>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer digiid-secondary-dark digiid-border-color">
        <button type="button" class="button-right button-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>