<!--  app/views/users/open_case.html.erb -->
<%= render 'components/navbar' %>

<div class="container">
    <div class="row mt-3">
        <%= button_to 'Open Case', add_asset_user_path(@user, '1'), :class => "btn btn-success" %>
    </div>
    
    <div class="row mt-3">
        <% if !@added_collectible.nil? and @added_collectible.size > 0 %>
            <% case @added_collectible.first.rarity
                when 'C' %>
                <div class="card border-success" style="width: 36rem;">
                    <img class="card-img-top" src=<%= @added_collectible.first.url%>>
                    <div class="card-body text-success">
                    <p class="card-text">
                        <%= @added_collectible.first.name %>
                    </p>
                    </div>
                    <span class="badge badge-success">Common</span>
                </div>
            <% when 'N' %>
                <div class="card border-secondary" style="width: 36rem;">
                    <img class="card-img-top" src=<%= @added_collectible.first.url%>>
                    <div class="card-body text-secondary">
                    <p class="card-text">
                        <%= @added_collectible.first.name %>
                    </p>
                    </div>
                    <span class="badge badge-secondary">Normal</span>                    
                </div>
            <% when 'R' %>
                <div class="card border-danger" style="width: 36rem;">
                    <img class="card-img-top" src=<%= @added_collectible.first.url%>>
                    <div class="card-body text-danger">
                    <p class="card-text">
                        <%= @added_collectible.first.name %>
                    </p>
                    </div>
                    <span class="badge badge-danger">Rare</span>
                </div>
            <% when 'SR' %>
                <div class="card border-warning" style="width: 36rem;">
                    <img class="card-img-top" src=<%= @added_collectible.first.url%>>
                    <div class="card-body text-warning">
                    <p class="card-text">
                        <%= @added_collectible.first.name %>
                    </p>
                    </div>
                    <span class="badge badge-warning">Super Rare</span>
                </div>          
            <% end %>             
        <% end %>
    </div>
</div>
