<!--  app/views/users/open_case.html.erb -->


<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <div class="btn-group float-right" role="group">
                <a class="btn btn-secondary btn-sm" href=<%= user_path(@user) %>> Back to user page </a>
                <a class="btn btn-secondary btn-sm" href=<%= users_path %>> Back to user list </a>
            </div>
        </div>
    </div>
  
    <div class="row mt-3">
        <h6><%= @user.username %></h6>
    </div>
    
    <div class="row mt-3">
        <%= button_to 'Open Case', add_asset_user_path(@user), :class => "btn btn-success" %>
    </div>
    
    <div class="row mt-3">
        <% if !@added_collectible.nil? and @added_collectible.size > 0 %>
            <div class="card" style="width: 36rem;">
                <img class="card-img-top" src=<%= @added_collectible.first.url%>>
                <div class="card-body">
                <p class="card-text">
                    <%= @added_collectible.first.name %>
                </p>
                </div>
            </div>
        <% end %>
    </div>
</div>
