<!--  app/views/users/open_case.html.erb -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href=<%= users_path %>>DigiId</a>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" href=<%= users_path %>>Home <span class="sr-only">(current)</span></a>
         </li>
         <% if logged_in? %>
         <li class="nav-item">
            <a class="nav-link" href=<%= user_path(current_user)%>>My Collectibles</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href=<%= open_case_user_path(current_user)%>>Cases</a>
         </li>
         <% end %>
      </ul>
   </div>
   <ul class="navbar-nav mr-auto">
      <% if logged_in? %> 
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <%= current_user.username %>
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href=<%= logout_path %>>Log out</a>
         </div>
      </li>
      <% else %>
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Not logged in
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href=<%= login_path %>>Log in</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href='users/new'>Sign up</a>
         </div>
      </li>
      <% end %> 
   </ul>
</nav>

<div class="container">
    <div class="row mt-3">
        <%= button_to 'Open Case', add_asset_user_path(@user), :class => "btn btn-success" %>
    </div>
    
    <div class="row mt-3">
        <% if !@added_collectible.nil? and @added_collectible.size > 0 %>
            <div class="card" style="width: 36rem;">
                <img class="card-img-top" src=<%= @added_collectible.first.url%>>
                <div class="card-body">
                <p class="card-text">
                    <%= @added_collectible.first.name %>
                </p>
                </div>
            </div>
        <% end %>
    </div>
</div>
