<!--  app/views/users/show.html.erb -->
<%= render 'components/navbar' %>

<div class="container">
    <h2><em><%= @user.username %></em> Collectibles</h2>
    <div class="row mt-3">
        <div class="row justify-content-center">
            <% @collectibles.each do |collectible| %>
                        <% case collectible.rarity
                            when 'C' %>
                            <div class="col-auto mb-3">
                                <div class="card h-70 border-success" style="width: 18rem;">
                                    <img class="card-img-top" src=<%= collectible.url%> class="rounded" >
                                    <div class="card-body text-success">
                                        <p class="card-text"> <%= collectible.name %>  </p>
                                    </div>
                                    <span class="badge badge-success">Common</span>
                                </div>             
                                                  <% if collectible.on_the_market == 'f'%>
                    <button class="sell_button" onclick="openForm('<%= collectible.asset_id %>')">sell</button>
                  <% else %>
                    <%= button_to 'unlist', unlist_path(@user.id, collectible.asset_id), :class => "sell_button" %>
                  <% end %>
                            </div>
                        <% when 'N' %>
                            <div class="col-auto mb-3">
                                <div class="card h-70 border-secondary" style="width: 18rem;">
                                    <img class="card-img-top" src=<%= collectible.url%> class="rounded" >
                                    <div class="card-body text-secondary">
                                        <p class="card-text"> <%= collectible.name %>  </p>
                                    </div>
                                    <span class="badge badge-secondary">Normal</span>
                                </div>
                                                  <% if collectible.on_the_market == 'f'%>
                    <button class="sell_button" onclick="openForm('<%= collectible.asset_id %>')">sell</button>
                  <% else %>
                    <%= button_to 'unlist', unlist_path(@user.id, collectible.asset_id), :class => "sell_button" %>
                  <% end %>
                            </div>
                        <% when 'R' %>
                            <div class="col-auto mb-3">
                                <div class="card h-70 border-danger" style="width: 18rem;">
                                    <img class="card-img-top" src=<%= collectible.url%> class="rounded" >
                                    <div class="card-body text-danger">
                                        <p class="card-text"> <%= collectible.name %>  </p>
                                    </div>
                                    <span class="badge badge-danger">Rare</span>
                                </div>
                                                  <% if collectible.on_the_market == 'f'%>
                    <button class="sell_button" onclick="openForm('<%= collectible.asset_id %>')">sell</button>
                  <% else %>
                    <%= button_to 'unlist', unlist_path(@user.id, collectible.asset_id), :class => "sell_button" %>
                  <% end %>
                            </div>
                        <% when 'SR' %>
                            <div class="col-auto mb-3">
                                <div class="card h-70 border-warning" style="width: 18rem;">
                                    <img class="card-img-top" src=<%= collectible.url%> class="rounded" >
                                    <div class="card-body text-warning">
                                        <p class="card-text"> <%= collectible.name %>  </p>
                                    </div>
                                    <span class="badge badge-warning">Super Rare</span>
                                </div>
                                                  <% if collectible.on_the_market == 'f'%>
                    <button class="sell_button" onclick="openForm('<%= collectible.asset_id %>')">sell</button>
                  <% else %>
                    <%= button_to 'unlist', unlist_path(@user.id, collectible.asset_id), :class => "sell_button" %>
                  <% end %>
                            </div>               
                        <% end %> 
            <% end %> 
        </div>        
<!--               <tr>
                <td>
                  <%= collectible.name %>
                </td>
                <td>
                  <% if collectible.on_the_market == 'f'%>
                    <button class="sell_button" onclick="openForm('<%= collectible.asset_id %>')">sell</button>
                  <% else %>
                    <%= button_to 'unlist', unlist_path(@user.id, collectible.asset_id), :class => "sell_button" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>
                  <img src=<%= collectible.url%> width=auto height="250">
                </td>
              </tr>
            <% end %>
        </tbody>
        </table> -->
    </div>
</div>

<div class="form-popup" id="myForm">
<form action="/sell" class="form-container">
  <h2>Listing <em><%= @user.id %></em> </h2>
  <label for="sell"><b>Price</b></label>
  <input type="number"  name="price" step="0.01" required>
  <input type="hidden"  name="user_id" id="user_id", value = '<%= @user.id %>'>
  <input type="hidden"  name = "asset_id" id="asset_id">
  <button type="submit" class="btn">Sell</button>
  <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
</form>
</div>