<div class="container-fluid">
  <h1><%= @user.username %> Collectibles</h1>

  <div class="row justify-content-center">
    <% @collectibles.each do |collectible| %>
      <div class="col-auto mb-4">
        <div class="card h-60 digiid-border">
		  <% if collectible.rarity == 'SR' %>
			<img style="filter: blur(<%= collectible.blurNum/100 %>px)" class="card-img-top %>" src=<%= collectible.url %>>
		  <% else %>
			<img class="card-img-top filter-<%= collectible.rarity %>" src=<%= collectible.url %>>
		  <% end %>
          <span class="badge <%= collectible.rarity %>">
              <% case collectible.rarity
                 when 'C' %>
                  Common
                <% when 'N' %>
                  Normal
                <% when 'R' %>
                  Rare
                <% when 'SR' %>
                  Super Rare
              <% end %>
            </span>
          <div class="card-body">
            <p class="card-text"> <%= collectible.name %>  </p>
            <% if logged_in? && @user.id == current_user.id %>
              <% if collectible.on_the_market == 'f' %>
                <button type="button" class="button-sell" data-id="<%= collectible.asset_id %>" data-toggle="modal" data-target="#sellModal">sell</button>
              <% else %>
                <%= button_to 'unlist', unlist_path(@user.id, collectible.asset_id), :class => "button button-close" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Modal-->
<div class="modal fade" id="sellModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content digiid-secondary-dark">
      <div class="modal-body digiid-secondary-dark">
        <form action="/sell" class="digiid-secondary-dark">
          <div class="form-group">
            <label for="sell"><h2>Price</h2></label>
            <input type="number" name="price" step="0.01" required>
            <input type="hidden" name="user_id" id="user_id" , value='<%= @user.id %>'>
            <input type="hidden" name="asset_id" id="asset_id">
          </div>
          <button type="button" class="button-right button-close" data-dismiss="modal">Close</button>
          <button type="submit" class="button-right button-info">Sell</button>
        </form>
      </div>
    </div>
  </div>
</div>