<!--  app/views/users/show.html.erb -->
<%= render 'components/navbar' %>

<div class="container">
    <h2><em><%= @user.username %></em> Collectibles</h2>
    <div class="row mt-3">
        <div class="row justify-content-center">
            <% @collectibles.each do |collectible| %>
                        <% case collectible.rarity
                            when 'C' %>
                            <div class="col-auto mb-3">
                                <div class="card h-70 border-success" style="width: 18rem;">
                                    <img class="card-img-top" src=<%= collectible.url%> class="rounded" >
                                    <div class="card-body text-success">
                                        <p class="card-text"> <%= collectible.name %>  </p>
                                    </div>
                                    <span class="badge badge-success">Common</span>
                                </div>
                            </div>
                        <% when 'N' %>
                            <div class="col-auto mb-3">
                                <div class="card h-70 border-secondary" style="width: 18rem;">
                                    <img class="card-img-top" src=<%= collectible.url%> class="rounded" >
                                    <div class="card-body text-secondary">
                                        <p class="card-text"> <%= collectible.name %>  </p>
                                    </div>
                                    <span class="badge badge-secondary">Normal</span>
                                </div>
                            </div>
                        <% when 'R' %>
                            <div class="col-auto mb-3">
                                <div class="card h-70 border-danger" style="width: 18rem;">
                                    <img class="card-img-top" src=<%= collectible.url%> class="rounded" >
                                    <div class="card-body text-danger">
                                        <p class="card-text"> <%= collectible.name %>  </p>
                                    </div>
                                    <span class="badge badge-danger">Rare</span>
                                </div>
                            </div>
                        <% when 'SR' %>
                            <div class="col-auto mb-3">
                                <div class="card h-70 border-warning" style="width: 18rem;">
                                    <img class="card-img-top" src=<%= collectible.url%> class="rounded" >
                                    <div class="card-body text-warning">
                                        <p class="card-text"> <%= collectible.name %>  </p>
                                    </div>
                                    <span class="badge badge-warning">Super Rare</span>
                                </div>
                            </div>               
                        <% end %> 
            <% end %> 
        </div>
    </div>
</div>




