<!--  app/views/users/show.html.erb -->
<%= render 'components/navbar' %>

<div class="container">
    <h2><em><%= @user.username %></em> Collectibles</h2>

    <div class="row mt-3">
        <div class="row justify-content-center">
            <% @collectibles.each do |collectible| %>
                        <% case collectible.rarity
                            when 'C' %>
                            <div class="col-auto mb-3">
                                <div class="card h-70 digiid_border_common" style="width: 18rem;">
                                    <img class="card-img-top" src=<%= collectible.url%>>
                                    <span class="badge digiid_common">Common</span>
                                    <div class="card-body">
                                        <p class="card-text"> <%= collectible.name %>  </p>
                                    <% if logged_in? && @user.id == current_user.id %>
                                      <% if collectible.on_the_market == 'f'%>
                                        <button class="sell_button" onclick="openForm('<%= collectible.asset_id %>')">sell</button>
                                      <% else %>
                                        <%= button_to 'unlist', unlist_path(@user.id, collectible.asset_id), :class => "sell_button" %>
                                      <% end %>
                                    <% end %>                                    
                                    </div>
                                </div>             
                            </div>
                        <% when 'N' %>
                            <div class="col-auto mb-3">
                                <div class="card h-70 digiid_border_normal" style="width: 18rem;">
                                    <img class="card-img-top" src=<%= collectible.url%> class="rounded" >
                                    <span class="badge digiid_normal">Normal</span>
                                    <div class="card-body">
                                        <p class="card-text"> <%= collectible.name %>  </p>
                                        <% if logged_in? && @user.id == current_user.id %>
                                          <% if collectible.on_the_market == 'f'%>
                                            <button class="sell_button" onclick="openForm('<%= collectible.asset_id %>')">sell</button>
                                          <% else %>
                                            <%= button_to 'unlist', unlist_path(@user.id, collectible.asset_id), :class => "sell_button" %>
                                          <% end %>
                                        <% end %>
                                    </div>                              
                                </div>
                            </div>
                        <% when 'R' %>
                            <div class="col-auto mb-3">
                                <div class="card h-70 digiid_border_rare" style="width: 18rem;">
                                    <img class="card-img-top" src=<%= collectible.url%> class="rounded" >
                                    <span class="badge digiid_rare">Rare</span>
                                    <div class="card-body">
                                        <p class="card-text"> <%= collectible.name %>  </p>
                                        <% if logged_in? && @user.id == current_user.id %>
                                          <% if collectible.on_the_market == 'f'%>
                                            <button class="sell_button" onclick="openForm('<%= collectible.asset_id %>')">sell</button>
                                          <% else %>
                                            <%= button_to 'unlist', unlist_path(@user.id, collectible.asset_id), :class => "sell_button" %>
                                          <% end %>
                                        <% end %>                              
                                    </div>
                                </div>
                            </div>
                        <% when 'SR' %>
                            <div class="col-auto mb-3">
                                <div class="card h-70 digiid_border_superrare" style="width: 18rem;">
                                    <img class="card-img-top" src=<%= collectible.url%> class="rounded" >
                                    <span class="badge digiid_superrare">Super Rare</span>                                    
                                    <div class="card-body">
                                        <p class="card-text"> <%= collectible.name %>  </p>
                                        <% if logged_in? && @user.id == current_user.id %>
                                          <% if collectible.on_the_market == 'f'%>
                                            <button class="sell_button" onclick="openForm('<%= collectible.asset_id %>')">sell</button>
                                          <% else %>
                                            <%= button_to 'unlist', unlist_path(@user.id, collectible.asset_id), :class => "sell_button" %>
                                          <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>               
                        <% end %> 
            <% end %> 
        </div>        
    </div>
</div>

<div class="form-popup" id="myForm">
    <form action="/sell" class="form-container">
        <label for="sell"><b>Price</b></label>
        <input type="number"  name="price" step="0.01" required>
        <input type="hidden"  name="user_id" id="user_id", value = '<%= @user.id %>'>
        <input type="hidden"  name = "asset_id" id="asset_id">
        <button type="submit" class="btn">Sell</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
    </form>
</div>