<!--  app/views/users/show.html.erb -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href=<%= users_path %>>My Collectibles</a>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" href=<%= users_path %>>Home <span class="sr-only">(current)</span></a>
         </li>
         <% if logged_in? %>
         <li class="nav-item">
            <a class="nav-link" href=<%= user_path(current_user)%>>Mange Collectibles</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href=<%= open_case_user_path(current_user)%>>Cases</a>
         </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= market_user_path(current_user)%>>Market</a>
         </li>
         <% end %>
      </ul>
   </div>
   <ul class="navbar-nav mr-auto">
      <% if logged_in? %> 
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <%= current_user.username %>
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href=<%= logout_path %>>Log out</a>
         </div>
      </li>
      <% else %>
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Not logged in
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href=<%= login_path %>>Log in</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href='users/new'>Sign up</a>
         </div>
      </li>
      <% end %> 
   </ul>
</nav>

<div class="container">
    <div class="row mt-3">
        <h2><em><%= @user.username %></em> Collectibles</h2>
        <table class="table table-striped col-md-12" id="users">
        <tbody>
            <% @collectibles.each do |collectible| %>
              <tr>
                <td>
                  <%= collectible.name %>
                </td>
                <td>
                  <% if collectible.on_the_market == 'f'%>
                    <button class="sell_button" onclick="openForm('<%= collectible.asset_id %>')">sell</button>
                  <% else %>
                    <%= button_to 'unlist', unlist_path(@user.id, collectible.asset_id), :class => "sell_button" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>
                  <img src=<%= collectible.url%> width=auto height="250">
                </td>
              </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>

<div class="form-popup" id="myForm">
<form action="/sell" class="form-container">
  <h2>Listing <em><%= @user.id %></em> </h2>
  <label for="sell"><b>Price</b></label>
  <input type="number"  name="price" step="0.01" required>
  <input type="hidden"  name="user_id" id="user_id", value = '<%= @user.id %>'>
  <input type="hidden"  name = "asset_id" id="asset_id">
  <button type="submit" class="btn">Sell</button>
  <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
</form>
</div>